default_install_hook_types:
  - pre-commit
  - commit-msg
default_stages:
  - pre-commit # Run locally
  - manual # Run in CI
# Exclude protobuf generated Python files (*_pb2.py and *_pb2_grpc.py)
exclude: '_pb2(_grpc)?\.py$'
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.0
  hooks:
  - id: ruff-check
    args: [--output-format, github, --fix]
  - id: ruff-format
- repo: https://github.com/crate-ci/typos
  rev: v1.38.1
  hooks:
  - id: typos
    args: [--force-exclude]
    exclude: '\.github/workflows/typo-checker\.md$'
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v21.1.2
  hooks:
  - id: clang-format
    types_or: [c++, cuda]
    args: [--style=file, --verbose]
# - repo: https://github.com/igorshubovych/markdownlint-cli
#   rev: v0.45.0
#   hooks:
#   - id: markdownlint
#     exclude: '.*\.inc\.md'
#     stages: [manual] # Only run in CI
- repo: https://github.com/rhysd/actionlint
  rev: v1.7.7
  hooks:
  - id: actionlint
    exclude: |
      (?x)^(
        \.github/workflows/link-checker\.lock\.yml|
        \.github/workflows/typo-checker\.lock\.yml|
        \.github/workflows/upstream-monitor\.lock\.yml|
        \.github/workflows/ci-examples\.yaml
      )$
- repo: https://github.com/astral-sh/uv-pre-commit
  rev: 0.9.1
  hooks:
    - id: pip-compile
      args: [requirements/test.in, -o, requirements/test.txt, --index-strategy, unsafe-best-match, --torch-backend, cu129, --python-platform, x86_64-manylinux_2_28, --python-version, "3.12"]
      files: ^requirements/test\.(in|txt)$
